:host {
  display: inline-block;
}

.input-group-text {
  cursor: pointer;
}

.input-group img.thumbnail {
  height: 2.375rem;
  width: auto;
  max-width: 2.5rem;
  object-fit: contain;
  display: block;
}
