:host {
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid var(--bs-primary);
  border-radius: 100%;
  animation: spin-right 800ms linear infinite;

  &::before,
  &::after {
    content: '';
    width: 6vmax;
    height: 6vmax;
    display: block;
    position: absolute;
    top: calc(50% - 3vmax);
    left: calc(50% - 3vmax);
    border-left: 3px solid var(--bs-primary);
    border-radius: 100%;
    animation: spin-left 800ms linear infinite;
  }

  &::after {
    width: 4vmax;
    height: 4vmax;
    top: calc(50% - 2vmax);
    left: calc(50% - 2vmax);
    border: 0;
    border-right: 2px solid var(--bs-primary);
    animation: none;
  }
}

@keyframes spin-left {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes spin-right {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
